In [15]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
data = pd.read_csv('Data/NEISS/all_fracture.csv')

The first thing that needs to happen here is to find all the sports related fractures from the entire dataset just like I did back in the `clean_up` notebook. Remember, code 9 for location will extract all of the injuries that happen on sports fields and such.

In [3]:
sports= data.loc[data['location']==9]

Easy enough! Moving forward, it looks like python is reading the `prod2` feature as a float. This complicates things when trying to join it with the `prod1` feature. Those damn `NaN`s messing up the default datatype! I have to find a way around that so that I can read in the old dictionary and find all values not currently in it from the entire dataset.

In [4]:
sports['prod2'] = sports['prod2'].fillna(0.0).astype(int) # I may need to change this. An error is being thrown

# find all of the unique codes when prod1 and prod2 joined
uniq_prods = np.unique(sports[['prod1','prod2']])

/Users/jamesbain/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Here is the old dictionary from just the subset of data from 2014 only!

In [5]:
sport_dict = {
    5041: "Baseball",
    3251: "Built-in swimming pools",
    1272: "Acrobatics/Gymnastics",
    3273: "play sand (for sandboxes)",
    3283: "snow skiing",
    5034: "Softball",
    3283: "Snow skiiing",
    5040: "Bicycle pumps",
    5033: "Mountain/All-terrain Biking",
    3255: "Ice Skating",
    5016: "Bouncy Balls",
    1205: "Basketball",
    1293: "Bounce house",
    1211: "Football",
    5031: "Snowboarding",
    1258: "Mountain Climbing",
    1279: "Ice Hockey",
    1807: "Patios/Flooring",
    3299: "Stretching Exercise",
    1333: "Skateboarding",
    3216: "Rolling Skating",
    3217: "Skating (not specified)",
    3257: "Jujitsu",
    1213: "Golf Carts",
    1267: "Soccer",
    3236: "Ball Sports (not specified)",
    1244: "Climbing Apparatus, playground",
    1871: "Fence/Fence Post",
    5036: "Two-wheeled, powered, off-road vehicles",
    1242: "Slides",
    3286: "Four-wheeled, all-terrain vehicles",
    1239: "Bridles (Horseback Riding)",
    3278: "Dancing",
    1328: "Children's Wagon",
    3254: "Cheerleading",
    1266: "Volleyball",
    3274: "Swimsuit",
    1284: "Swimming pools (not specified)",
    3246: "Swings",
    3265: "Weight Lifting",
    1895: "Deer/Tree Stands",
    3272: "Hockey (not specified)",
    1817: "Loading Docks",
    5030: "Pole Vault",
    1200: "Rodeo",
    3287: "All-terrain Vehicles (number of wheels not specified)",
    1290 : "snowmobiles",
    1884 : "ceilings and walls",
    1261 : "windsurfing",
    1270 : "wrestling", 
    1842 : "stairs",
    1206 : "bowling",
    5017 : "flying discs or boomerangs",
    852 : "rope or string",
    1215 : "lacrosse", 
    3223 : "fishing",
    1207 : "punching bags",
    3234 : "rugby",
    1233 : "trampolines", 
     3297 : "in-line skating", 
     3295 : "water slides",
     4077 : "straight ladders", 
     1299 : "snow tubing",
     5029 : "tent or tent stakes",
     3235 : "other ball sports", 
     1615 : "cleats", 
     3259 : "go-carts",
     1294 : "bleachers", 
     3284 : "tennis",
     1816 : "scaffolding",
     1212 : "golf",
     4074 : "lawn chair",
     1217 : "sleds",
     1329 : "standup scooter (unpowered)", 
     3277 : "treadmills", 
     465 : "other cookware",
     1264 : "knee boarding",
     4016 : "beach chairs",
     536 : "photographic equipment",
     1829 : "banisters", 
     1243 : "seesaw",
     1278 : "diving board",
     3288 : "beach buggles",
     1715 : "pet cages",
     374 : "gymnastic bars",
     3200 : "water tubing", 
     3219 : "ball pits",
     1276 : "tether ball", 
     1295 : "field hockey",
     3256 : "paddle ball", 
     1235 : "archery",
     611 : "bathtubs or showers", 
     3250 : "portable beverage cooler", 
     1893 : "bathroom stall door",  
     687 : "benches",
     3279 : "floaties",
     1313 : "fireworks",
     4078 : "chain ladders",  
     466 : "cookware not specified", 
     1843 : "ramps or landings",
     4057 : "altar",
     832 : "circular power saws",
     3260 : "fencing", 
     464 : "knives", 
     1426 : "axes", 
     3293 : "water slides",
     1643 : "keys", 
     5011 : "bookbags", 
     3202 : "pedal-powered adult vehicles (3+ wheels)", 
     1395 : "battery-operated toys",  
     827 : "hammers", 
     612 : "bathroom rugs", 
     1301 : "children's tricycle", 
     1310 : "pogo sticks", 
     3276 : "water polo",
     685 : "electric extension cord", 
     1645 : "blouses", 
     1138 : "beer kegs", 
     1141 : "non-specified containers", 
     1812 : "downspouts", 
     3294 : "inflatable water slides",
     3249 : "grills (not specified)", 
     1865 : "poles", 
     1457 : "log splitters", 
     1127 : "non-glass bottles", 
     3261 : "shuffleboard", 
     5032 : "roller hockey",
     1381 : "air hockey", 
     1282 : "handball", 
     661 : "bed rails", 
     3215 : "mopeds", 
     1398 : "wheeled riding toys (unpowered)", 
     1506 : "baby gates", 
     1234 : "playhouses", 
     1741 : "tarpaulins", 
     1392 : "toy sports equiptment",
     1273 : "bobsleds",  
     566 : "musical instrument (non-electrical)", 
     5020 : "pretent electronics/household devices", 
     5044 : "utility vehicles", 
     1277 : "swimming pool slides",  
     394 : "patio heaters or firepits",  
     131 : "butane gas tanks", 
     1612 : "facial saunas", 
     1260 : "billiards", 
     4056 : "brackets", 
     3262 : "water heater",  
     478 : "drinking glasses",  
     617 : "curtains", 
     3245 : "floor hockey"
}

Now let's go ahead and find all of the codes not currently in the `sports_dict`. Dammit! I have my work cut out for me again. It appears to be 142 items!.

In [6]:
new_codes = [i for i in uniq_prods if i not in sport_dict]
new_codes = [int(i) for i in new_codes]
print(new_codes)
print(len(new_codes))

[0, 102, 136, 137, 215, 216, 242, 263, 379, 393, 413, 546, 547, 550, 557, 572, 604, 613, 639, 648, 649, 653, 654, 666, 676, 679, 698, 699, 707, 814, 835, 837, 845, 884, 885, 886, 899, 913, 960, 1023, 1062, 1107, 1112, 1114, 1120, 1133, 1137, 1143, 1144, 1208, 1237, 1257, 1269, 1271, 1275, 1283, 1309, 1317, 1322, 1325, 1327, 1330, 1342, 1347, 1349, 1352, 1394, 1403, 1406, 1413, 1414, 1415, 1422, 1425, 1439, 1465, 1466, 1502, 1512, 1519, 1522, 1527, 1545, 1550, 1555, 1606, 1607, 1610, 1616, 1623, 1646, 1647, 1658, 1660, 1679, 1684, 1686, 1706, 1707, 1726, 1738, 1744, 1819, 1820, 1857, 1864, 1870, 1878, 1885, 1887, 1889, 1890, 1892, 1894, 3221, 3222, 3282, 3285, 3296, 4008, 4010, 4014, 4025, 4050, 4051, 4058, 4062, 4063, 4069, 4075, 4076, 4080, 4081, 4802, 5004, 5005, 5006, 5019, 5021, 5035, 5042, 5043]
142

So, I have come to my sense and realized that it would take too damn long to look up all of these codes. Then it hit me, why the hell would I need to waste my time with infrequent codes? Their sample sizes wouldn't be large enough to be worth it, so, let's go ahead and remove those. But first I have to find a method of counting how many times each unique `prod` code occurs.  The method below looks like it will work...

In [14]:
uniq_codes1, counts1 = np.unique(sports['prod1'],return_counts = True)
np.asarray((uniq_codes1, counts1)).T

array([[ 131,    1],
       [ 137,    1],
       [ 215,    1],
       [ 216,    1],
       [ 242,    1],
       [ 263,    1],
       [ 374,   14],
       [ 379,    1],
       [ 394,    3],
       [ 413,    2],
       [ 464,    3],
       [ 465,    2],
       [ 466,    1],
       [ 478,    1],
       [ 536,    7],
       [ 546,    2],
       [ 547,    1],
       [ 550,    1],
       [ 557,    3],
       [ 566,    2],
       [ 604,    1],
       [ 611,   17],
       [ 612,    2],
       [ 613,    1],
       [ 617,    1],
       [ 649,    2],
       [ 653,    1],
       [ 654,    8],
       [ 661,    7],
       [ 676,   11],
       [ 679,    1],
       [ 685,    3],
       [ 687,   89],
       [ 698,    3],
       [ 699,    1],
       [ 707,    1],
       [ 814,    5],
       [ 827,    4],
       [ 832,    1],
       [ 835,    1],
       [ 837,    3],
       [ 845,    1],
       [ 852,   64],
       [ 885,    1],
       [ 886,    1],
       [ 899,    1],
       [ 913,    1],
       [ 960,    1],
       [1023,    4],
       [1062,    1],
       [1107,    2],
       [1112,    1],
       [1114,    3],
       [1127,    1],
       [1137,    1],
       [1138,    1],
       [1141,    7],
       [1143,    2],
       [1144,    6],
       [1200,  470],
       [1205, 7638],
       [1206,  354],
       [1207,  310],
       [1208,    1],
       [1211, 9072],
       [1212,  220],
       [1213,  183],
       [1215,  473],
       [1217,  309],
       [1233,  286],
       [1234,    5],
       [1235,   10],
       [1237,    2],
       [1239,  736],
       [1242, 1521],
       [1243,   80],
       [1244, 3623],
       [1257,    2],
       [1258,  166],
       [1260,    6],
       [1261,  227],
       [1264,   95],
       [1266,  584],
       [1267, 6806],
       [1269,    7],
       [1270,  651],
       [1271,    1],
       [1272, 1236],
       [1273,    5],
       [1275,    4],
       [1276,   25],
       [1277,    6],
       [1278,   82],
       [1279,  578],
       [1282,   17],
       [1283,    2],
       [1284,  163],
       [1290,  117],
       [1293,  350],
       [1294,  129],
       [1295,   94],
       [1299,   42],
       [1301,    3],
       [1309,    2],
       [1310,    4],
       [1313,    8],
       [1317,   14],
       [1322,    1],
       [1325,    1],
       [1327,    3],
       [1328,    5],
       [1329,  152],
       [1330,    1],
       [1333, 1009],
       [1342,    1],
       [1347,    4],
       [1349,    1],
       [1352,    1],
       [1381,    3],
       [1392,    1],
       [1394,    1],
       [1395,    8],
       [1398,    2],
       [1413,    5],
       [1414,    4],
       [1415,    1],
       [1422,    1],
       [1425,    2],
       [1426,    4],
       [1457,    1],
       [1466,    2],
       [1502,    2],
       [1506,    2],
       [1512,    1],
       [1522,    3],
       [1527,    1],
       [1550,    3],
       [1555,    1],
       [1606,    3],
       [1607,    1],
       [1610,    1],
       [1612,    1],
       [1615,   77],
       [1623,    2],
       [1643,    1],
       [1645,    9],
       [1647,    3],
       [1658,    1],
       [1660,    2],
       [1679,    1],
       [1684,    3],
       [1686,    1],
       [1706,    4],
       [1707,    3],
       [1715,   36],
       [1726,    3],
       [1738,    3],
       [1741,    1],
       [1744,    2],
       [1807,  148],
       [1812,    2],
       [1816,    3],
       [1817,   47],
       [1819,    1],
       [1820,    1],
       [1829,   35],
       [1842,  243],
       [1843,   15],
       [1857,    2],
       [1864,    2],
       [1865,   61],
       [1871,  103],
       [1878,    6],
       [1884,  121],
       [1887,    1],
       [1889,    1],
       [1890,    5],
       [1892,    2],
       [1893,   36],
       [1894,    1],
       [1895,   80],
       [3200,   80],
       [3202,    2],
       [3215,    8],
       [3216, 2050],
       [3217,  180],
       [3219,  514],
       [3221,    2],
       [3222,   15],
       [3223,  195],
       [3234,  335],
       [3235,  353],
       [3236,  101],
       [3245,   11],
       [3246,  856],
       [3249,    1],
       [3250,    6],
       [3251,   55],
       [3254,  364],
       [3255,  886],
       [3256,   58],
       [3257,  735],
       [3259,   97],
       [3260,    6],
       [3261,    3],
       [3262,    9],
       [3265,  329],
       [3272,  490],
       [3273,  845],
       [3274,  130],
       [3276,   14],
       [3277,  179],
       [3278,  354],
       [3279,    3],
       [3282,    2],
       [3283, 1483],
       [3284,  381],
       [3285,    5],
       [3286,  443],
       [3287,  135],
       [3288,   14],
       [3293,   21],
       [3294,   18],
       [3295,   65],
       [3296,    6],
       [3297,  253],
       [3299, 1210],
       [4014,    1],
       [4016,    9],
       [4025,    3],
       [4050,    1],
       [4051,    2],
       [4056,    6],
       [4057,   41],
       [4058,    4],
       [4062,    1],
       [4063,    1],
       [4069,    1],
       [4074,   47],
       [4075,    1],
       [4076,    7],
       [4077,    2],
       [4078,   27],
       [4080,    3],
       [4081,    1],
       [4802,    1],
       [5004,   11],
       [5005,    3],
       [5006,    1],
       [5011,    2],
       [5016,   56],
       [5017,  104],
       [5019,    5],
       [5020,    1],
       [5021,    2],
       [5029,   28],
       [5030,  304],
       [5031, 1949],
       [5032,   32],
       [5033,  204],
       [5034, 1973],
       [5035,    1],
       [5036,  863],
       [5040,  985],
       [5041, 3241],
       [5042,   21],
       [5043,    2],
       [5044,    3]])

Well...that's ugly as shit. This method below is a lot prettier...

In [21]:
prod_counts = Counter(sports['prod1']) # Counter stores the value of the object as the key and the counts of those objects as the keys

In [22]:
prod_counts.values() < 30

TypeError: unorderable types: dict_values() < int()