In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in the data
data = pd.read_excel('Data/NEISS/NEISS2014.xlsx')

In [3]:
# what are my column headers
data.columns

Index(['CPSC Case #', 'trmt_date', 'psu', 'weight', 'stratum', 'age', 'sex',
       'race', 'race_other', 'diag', 'diag_other', 'body_part', 'disposition',
       'location', 'fmv', 'prod1', 'prod2', 'narrative'],
      dtype='object')

In [4]:
# count the number of rows 
len(data)

367492

In [5]:
# how many rows have just fracture data

# first diagnosis column
print(len(data.loc[data['diag']== 57]))

# second diagnosis column
print(len(data.loc[data['diag_other']==57]))

54984
0

In [6]:
# looks like we can just subset based on the fractures reported in the first diagnosis column

fractures = data.loc[data['diag']==57]

In [7]:
# just tennis
fractures.loc[fractures['prod1']==3284]

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
17994,140818491,2014-08-06,20,5.7174,C,12,Female,White,NaN,57,NaN,92,1,9,0,3284,NaN,12YR F SISTER HIT HER WITH TENNIS RACQUET WHI...
25629,140723026,2014-03-13,40,14.3089,V,40,Male,White,NaN,57,NaN,80,1,9,0,3284,1871,"40YOM WAS PLAYING TENNIS & SMASHED INTO FENCE,..."
35118,141061493,2014-10-26,73,82.3076,S,84,Male,None listed,NaN,57,NaN,79,2,9,0,3284,NaN,84YOM PLAYING TENNIS AND FELL ONTO HIP FRACTUR...
41972,140200288,2014-01-24,2,14.3089,V,68,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,68YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
51347,140346828,2014-03-21,73,80.0213,S,87,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,87YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
53758,140765229,2014-07-25,70,87.2960,S,12,Male,White,NaN,57,NaN,30,1,9,0,3284,NaN,12 Y/O WM TRIPPED OVER TENNIS NET AND FRACTURE...
58852,140106319,2014-01-01,73,80.0213,S,66,Female,None listed,NaN,57,NaN,92,1,9,0,3284,NaN,66YOF FELL WHILE PLAYING TENNIS AND FRACTURED ...
62122,140733252,2014-07-14,17,15.6716,V,50,Male,None listed,NaN,57,NaN,75,1,0,0,3284,1865,50 YO M PLAYING TENNIS HIT HEAD ON POLE FX SKULL
64871,140244572,2014-02-20,78,81.5760,M,66,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,"66 YOF INJURED WRIST, SLIPPED ON WET CONCRETE ..."
69250,140947511,2014-09-15,61,15.6716,V,11,Female,White,NaN,57,NaN,92,1,9,0,3284,NaN,11 YOF PLAYING TENNIS HIT RIGHT PINKY FINGER B...
71044,141221905,2014-11-29,50,74.3851,L,15,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,"15 YOM SCAPHOID FX, PLAYING TENNIS, LEANED BAC..."
73873,140968254,2014-09-14,20,5.7174,C,7,Male,White,NaN,57,NaN,92,1,9,0,3284,NaN,7YOM PLAYING TENNIS AND HIT SELF WITH RACQUET;...
79874,141006930,2014-09-24,21,15.6716,V,12,Male,None listed,NaN,57,NaN,34,1,0,0,3284,1807,12YM TRIPPED OVER TENNIS RACKET ON THE FLOOR&F...
83592,141014761,2014-05-07,40,14.3089,V,18,Male,White,NaN,57,NaN,34,1,9,0,3284,NaN,18YOM WAS BACK PEDDLING DURING TENNIS GAME & F...
90823,140919838,2014-04-15,40,14.3089,V,27,Female,Asian,NaN,57,NaN,34,1,9,0,3284,NaN,27YOF TWISTED HER RT ANKLE PLAYING TENNIS & FE...
97893,150112121,2014-06-22,40,14.3089,V,12,Male,White,NaN,57,NaN,33,1,9,0,3284,NaN,"12YOM JUMPED OVER A NET DURING TENNIS GAME, SL..."
105607,140758709,2014-07-15,56,87.2960,S,70,Female,White,NaN,57,NaN,31,1,9,0,3284,NaN,70 YOF FELL PLAYING TENNIS AND HURT CHEST. DX ...
112963,141153635,2014-10-16,63,99.7040,M,79,Female,None listed,NaN,57,NaN,79,4,9,0,3284,NaN,79YOF WAS PLAYING TENNIS AND FELL ONTO HIP FRA...
121723,150319104,2014-04-26,40,14.3089,V,54,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,54YOF WAS GOING FOR A LOB WHILE PLAYING TENNIS...
123051,140302299,2014-02-01,14,41.0402,M,62,Female,White,NaN,57,NaN,31,1,9,0,3284,NaN,62YOF PT TRIPPED AND FELL WHILE PLAYING TENNI...
128391,150214592,2014-06-30,40,14.3089,V,33,Male,Asian,NaN,57,NaN,34,1,9,0,3284,NaN,33YOM FELL WHILE PLAYING TENNIS C/O LT WRIST P...
132899,140741174,2014-07-14,24,99.7040,M,54,Female,Asian,NaN,57,NaN,33,1,9,0,3284,NaN,54 Y/O F FELL PLAYING TENNIS FX RADIUS
136165,140841417,2014-08-16,95,15.6716,V,33,Female,White,NaN,57,NaN,36,1,1,0,3284,1842,LOWER LEG FX. 33YOF TRIPPED ON TENNIS BALL ON...
137835,141014799,2014-05-09,40,14.3089,V,38,Male,White,NaN,57,NaN,32,1,9,0,3284,NaN,38YOM FELL WHILE PLAYING TENNIS ON HARD SURFAC...
137840,140931438,2014-03-16,40,14.3089,V,41,Male,White,NaN,57,NaN,36,1,5,0,3284,1871,41 YOM C/O FELL INTO A FENCE WHILE PLAYING TEN...
139905,140812624,2014-07-09,93,15.6716,V,23,Female,White,NaN,57,NaN,83,1,9,0,3284,NaN,23 YOF INVERTED ANKLE PLAYING TENNIS. DX: R F...
179873,141144218,2014-11-14,63,112.1671,M,68,Male,None listed,NaN,57,NaN,30,1,9,0,3284,NaN,68YOM PLAYING TENNIS AND FELL ONTO SHOULDER FR...
182198,140125957,2014-01-11,73,80.0213,S,57,Female,None listed,NaN,57,NaN,33,1,9,0,3284,NaN,57YOF FELL WHILE PLAYING TENNIS FRACTURED LOWE...
188036,140718139,2014-06-25,64,14.3089,V,43,Female,White,NaN,57,NaN,34,1,0,0,3284,NaN,43YOF WITH WRIST FRACTURE AFTER FALLING WHILE ...
194085,140447294,2014-04-20,61,14.3089,V,18,Male,White,NaN,57,NaN,32,1,9,0,3284,NaN,18 YOM FELL WHEN JUMPING OVER A TENNIS COURT N...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253041,140626795,2014-06-09,61,14.3089,V,76,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,76YOF WITH FRACTURED WRIST FROM FALL DURING TE...
254274,140218763,2014-02-03,2,14.3089,V,64,Female,None listed,NaN,57,NaN,36,1,9,0,3284,NaN,64YOF PLAYING TENNIS AND FELL FRACTURED LOWER ...
257663,140131442,2014-01-13,2,14.3089,V,75,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,75YOF FELL WHILE PLAYING TENNIS AND FRACTURED ...
268852,140964555,2014-09-25,20,5.7174,C,13,Male,White,NaN,57,NaN,30,1,8,0,3284,NaN,13YOM JUMPED OVER TENNIS COURT NET AND FELL; ...
276468,140226457,2014-02-06,73,80.0213,S,66,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,66YOF FELL WHILE PLAYING TENNIS AND SUSTAINED ...
281432,140705933,2014-06-16,38,14.3089,V,39,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,39 YR OLD MALE SLIPPED AND FELL PLAYING TENNIS...
283817,150122818,2014-12-28,93,15.6716,V,35,Male,Other / Mixed Race,HISPANIC,57,NaN,76,1,9,0,3284,NaN,35 YOM FELL WHILE PLAYING TENNIS. DX: L ZYGOM...
298222,140857821,2014-08-24,61,15.6716,V,8,Male,Other / Mixed Race,HISPANIC,57,NaN,33,1,9,0,3284,1267,8 YOM TRIPPED OVER SOCCER BALL ON TENNIS COURT...
298853,150215415,2014-05-27,89,74.3851,L,86,Male,White,NaN,57,NaN,79,4,9,0,3284,NaN,86 YO M PT PLAYING TENNIS COLLIED WITH ANOTHER...
303914,150107271,2014-12-26,89,74.3851,L,58,Female,White,NaN,57,NaN,34,1,1,0,3284,NaN,58 YO F PT WAS PICKING UP HER DOG AND TRIPPED ...
309380,141109071,2014-10-26,5,37.4149,L,40,Female,White,NaN,57,NaN,36,1,0,0,3284,NaN,40 YOF STEPPED ON A TENNIS BALL AND ROLLED ANK...
312180,140736203,2014-07-13,61,15.6716,V,8,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,8 YOF TRIPPED AND FELL WHILE PLAYING TENNIS FR...
327397,140449101,2014-04-12,38,14.3089,V,78,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,78YR OLD MALE PLAYING TENNIS AND FELL ONTO ARM...
327648,141130727,2014-11-12,73,82.3076,S,73,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,73YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
330294,140447302,2014-04-20,61,14.3089,V,49,Male,White,NaN,57,NaN,76,1,1,0,3284,NaN,49 YOM ACCIDENTALLY STRUCK IN THE FACE WITH A ...
332195,140551387,2014-05-19,1,80.0213,S,59,Female,White,NaN,57,NaN,34,1,0,0,3284,NaN,59YOF WAS PLAYING TENNIS FELL ON OUTSTRETCHED ...
335573,140957654,2014-08-23,54,50.1602,M,63,Female,White,NaN,57,NaN,33,1,9,0,3284,NaN,63YOF FELL ONTO LT ARM PLAYING TENNIS DX: DI...
340432,140835723,2014-08-12,8,5.7174,C,14,Male,White,NaN,57,NaN,33,1,9,0,3284,NaN,14YOM W/ FOREARM DEFORMITY S/P TRIED TO JUMP O...
341629,141220455,2014-11-28,73,82.3076,S,64,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,64YOM FELL WHILE PLAYING TENNIS SUSTAINED A WR...
342920,140515826,2014-04-18,93,14.3089,V,19,Male,Other / Mixed Race,HISPANIC,57,NaN,76,1,9,0,3284,NaN,19 YOM TRIPPED AND FELL ONTO COURT WHILE PLAYI...
343019,140604296,2014-05-14,38,14.3089,V,10,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,10 YR OLD FEMALE PLAYING TENNIS AND FELL ONTO ...
345873,140818624,2014-07-25,38,15.6716,V,16,Female,None listed,NaN,57,NaN,37,1,9,0,3284,NaN,16 YR OLD FEMALE STEPPED ON TENNIS BALL AND RO...
345889,140801146,2014-07-17,21,15.6716,V,54,Female,None listed,NaN,57,NaN,31,1,0,0,3284,NaN,54YF WITH LT LOWER RIB PAIN AFTER ROLLING BODY...
346277,140813088,2014-07-20,38,15.6716,V,52,Female,None listed,NaN,57,NaN,32,1,9,0,3284,NaN,52 YR OLD FEMALE PLAYING TENNIS WENT TO HIT BA...
348277,140803431,2014-07-05,54,50.1602,M,14,Male,White,NaN,57,NaN,76,1,9,0,3284,NaN,"14YOM PLAYING TENNIS @ CAMP, PARTNER THREW RAC..."
351654,141033939,2014-09-21,38,15.6716,V,48,Male,None listed,NaN,57,NaN,92,1,9,0,3284,NaN,48 YR OLD MALE PLAYING TENNIS ON WET GRASS AND...
356377,140964771,2014-09-01,38,15.6716,V,57,Female,None listed,NaN,57,NaN,83,1,9,0,3284,NaN,57 YR OLD FEMALE INVERTED FOOT PLAYING TENNIS ...
359720,141102820,2014-10-29,21,15.6716,V,22,Female,None listed,NaN,57,NaN,76,1,9,0,3284,NaN,22YF PLAYING TENNIS&ACC STRUCK SELF ON THE FAC...
361428,140713510,2014-06-22,38,14.3089,V,59,Male,None listed,NaN,57,NaN,30,1,9,0,3284,NaN,59 YR OLD MALE PLAYING TENNIS AND LOST BALANCE...
365954,140821282,2014-08-04,21,15.6716,V,66,Female,None listed,NaN,57,NaN,79,4,9,0,3284,NaN,"66YF WAS PLAYING TENNIS, HER KNEE WAS BOTHERIN..."

In [8]:
# this looks like it will subset sports out nicely
sports= fractures.loc[fractures['location']==9]

In [9]:
# let's look at how many rows there are
len(sports)

9623

In [11]:
# print out the unique codes within our sporst subset. Now to find what each code corresponds to.
print(pd.unique(sports['prod1']))

[5041 3251 1272 3273 5034 3283 5040 5033 3255 5016 1205 1293 1211 5031 1258
 1279 1807 3299 1333 3216 3217 3257 1213 1267 3236 1244 1871 5036 1242 3286
 1239 3278 1328 3254 1266 3274 1284 3246 3265 1895 3272 1817 5030 1200 3287
 1290 1884 1261 1270 1842 1206 5017  852 1215 3223 1207 3234 1233 3297 3295
 4077 1299 5029 3235 1615 3259 1294 3284 1816 1212 4074 1217 1329 3277  465
 1264 4016  536 1829 1243 1278 3288 1715  374 3200 3219 1276 1295 3256 1235
  611 3250 1893  687 3279 1313 4078  466 1843 4057  832 3260  464 1426 3293
 1643 5011 3202 1395  827  612 1301 1310 3276  685 1645 1138 1141 1812 3294
 3249 1865 1457 1127 3261 5032 1381 1282  661 3215 1398 1506 1234 1741 1392
 1273  566 5020 5044 1277  394  131 1612 1260 4056 3262  478  617 3245]

In [ ]:
sport_dict = {
    5041: "Baseball",
    3251: "Built-in swimming pools",
    1272: "Acrobatics/Gymnastics",
    3283: "Play sand (for sandboxes)",
    5034: "Softball",
    3283: "Snow skiiing",
    5040: "Bicycle pumps",
    5033: "Mountain/All-terrain Biking",
    3255: "Ice Skating",
    5016: "Bouncy Balls",
    1205: "Basketball",
    1293: "Bounce house",
    1211: "Football",
    5031: "Snowboarding",
    1258: "Mountain Climbing",
    1279: "Ice Hockey",
    1807: "Patios/Flooring",
    3299: "Stretching Exercise",
    1333: "Skateboarding",
    3216: "Rolling Skating",
    3217: "Skating (not specified)",
    3257: "Jujitsu",
    1213: "Golf Carts",
    1267: "Soccer",
    3236: "Ball Sports (not specified)",
    1244: "Climbing Apparatus, playground",
    1871: "Fence/Fence Post",
    5036: "Two-wheeled, powered, off-road vehicles",
    1242: "Slides",
    3286: "Four-wheeled, all-terrain vehicles",
    1239: "Bridles (Horseback Riding)",
    3278: "Dancing",
    1328: "Children's Wagon",
    3254: "Cheerleading",
    1266: "Volleyball",
    3274: "Swimsuit",
    1284: "Swimming pools (not specified)",
    3246: "Swings",
    3265: "Weight Lifting",
    1895: "Deer/Tree Stands",
    3272: "Hockey (not specified)",
    1817: "Loading Docks",
    5030: "Pole Vault",
    1200: "Rodeo",
    3287: "All-terrain Vehicles (number of wheels not specified)",
    
    
    
    
}