In [18]:
import pandas as pd
import numpy as np
import glob

The first thing I have to do is load in some NEISS data and beginning playing.

In [3]:
# read in the data
data = pd.read_excel('Data/NEISS/NEISS2014.xlsx')

Let's see what features this file contains

In [6]:
# what are my column headers
data.columns

Index(['CPSC Case #', 'trmt_date', 'psu', 'weight', 'stratum', 'age', 'sex',
       'race', 'race_other', 'diag', 'diag_other', 'body_part', 'disposition',
       'location', 'fmv', 'prod1', 'prod2', 'narrative'],
      dtype='object')

How about the number of rows. Holy shit! >350,000!

In [7]:
# count the number of rows 
len(data)

367492

Let's do something more interesting. How about we subset the file down to only fractures. Take a look at diagnosis columns. It appears that 57 codes for fractures.

In [8]:
# how many rows have just fracture data

# first diagnosis column
print(len(data.loc[data['diag']== 57]))

# second diagnosis column
print(len(data.loc[data['diag_other']==57]))

54984
0

In [9]:
# looks like we can just subset based on the fractures reported in the first diagnosis column

fractures = data.loc[data['diag']==57]

Let's take a look at this new dataframe, which I called fractures. What do some of these codes mean?

In [10]:
# just tennis
fractures.loc[fractures['prod1']==3284]

,CPSC Case #,trmt_date,psu,weight,stratum,age,sex,race,race_other,diag,diag_other,body_part,disposition,location,fmv,prod1,prod2,narrative
17994,140818491,2014-08-06,20,5.7174,C,12,Female,White,NaN,57,NaN,92,1,9,0,3284,NaN,12YR F SISTER HIT HER WITH TENNIS RACQUET WHI...
25629,140723026,2014-03-13,40,14.3089,V,40,Male,White,NaN,57,NaN,80,1,9,0,3284,1871,"40YOM WAS PLAYING TENNIS & SMASHED INTO FENCE,..."
35118,141061493,2014-10-26,73,82.3076,S,84,Male,None listed,NaN,57,NaN,79,2,9,0,3284,NaN,84YOM PLAYING TENNIS AND FELL ONTO HIP FRACTUR...
41972,140200288,2014-01-24,2,14.3089,V,68,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,68YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
51347,140346828,2014-03-21,73,80.0213,S,87,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,87YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
53758,140765229,2014-07-25,70,87.2960,S,12,Male,White,NaN,57,NaN,30,1,9,0,3284,NaN,12 Y/O WM TRIPPED OVER TENNIS NET AND FRACTURE...
58852,140106319,2014-01-01,73,80.0213,S,66,Female,None listed,NaN,57,NaN,92,1,9,0,3284,NaN,66YOF FELL WHILE PLAYING TENNIS AND FRACTURED ...
62122,140733252,2014-07-14,17,15.6716,V,50,Male,None listed,NaN,57,NaN,75,1,0,0,3284,1865,50 YO M PLAYING TENNIS HIT HEAD ON POLE FX SKULL
64871,140244572,2014-02-20,78,81.5760,M,66,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,"66 YOF INJURED WRIST, SLIPPED ON WET CONCRETE ..."
69250,140947511,2014-09-15,61,15.6716,V,11,Female,White,NaN,57,NaN,92,1,9,0,3284,NaN,11 YOF PLAYING TENNIS HIT RIGHT PINKY FINGER B...
71044,141221905,2014-11-29,50,74.3851,L,15,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,"15 YOM SCAPHOID FX, PLAYING TENNIS, LEANED BAC..."
73873,140968254,2014-09-14,20,5.7174,C,7,Male,White,NaN,57,NaN,92,1,9,0,3284,NaN,7YOM PLAYING TENNIS AND HIT SELF WITH RACQUET;...
79874,141006930,2014-09-24,21,15.6716,V,12,Male,None listed,NaN,57,NaN,34,1,0,0,3284,1807,12YM TRIPPED OVER TENNIS RACKET ON THE FLOOR&F...
83592,141014761,2014-05-07,40,14.3089,V,18,Male,White,NaN,57,NaN,34,1,9,0,3284,NaN,18YOM WAS BACK PEDDLING DURING TENNIS GAME & F...
90823,140919838,2014-04-15,40,14.3089,V,27,Female,Asian,NaN,57,NaN,34,1,9,0,3284,NaN,27YOF TWISTED HER RT ANKLE PLAYING TENNIS & FE...
97893,150112121,2014-06-22,40,14.3089,V,12,Male,White,NaN,57,NaN,33,1,9,0,3284,NaN,"12YOM JUMPED OVER A NET DURING TENNIS GAME, SL..."
105607,140758709,2014-07-15,56,87.2960,S,70,Female,White,NaN,57,NaN,31,1,9,0,3284,NaN,70 YOF FELL PLAYING TENNIS AND HURT CHEST. DX ...
112963,141153635,2014-10-16,63,99.7040,M,79,Female,None listed,NaN,57,NaN,79,4,9,0,3284,NaN,79YOF WAS PLAYING TENNIS AND FELL ONTO HIP FRA...
121723,150319104,2014-04-26,40,14.3089,V,54,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,54YOF WAS GOING FOR A LOB WHILE PLAYING TENNIS...
123051,140302299,2014-02-01,14,41.0402,M,62,Female,White,NaN,57,NaN,31,1,9,0,3284,NaN,62YOF PT TRIPPED AND FELL WHILE PLAYING TENNI...
128391,150214592,2014-06-30,40,14.3089,V,33,Male,Asian,NaN,57,NaN,34,1,9,0,3284,NaN,33YOM FELL WHILE PLAYING TENNIS C/O LT WRIST P...
132899,140741174,2014-07-14,24,99.7040,M,54,Female,Asian,NaN,57,NaN,33,1,9,0,3284,NaN,54 Y/O F FELL PLAYING TENNIS FX RADIUS
136165,140841417,2014-08-16,95,15.6716,V,33,Female,White,NaN,57,NaN,36,1,1,0,3284,1842,LOWER LEG FX. 33YOF TRIPPED ON TENNIS BALL ON...
137835,141014799,2014-05-09,40,14.3089,V,38,Male,White,NaN,57,NaN,32,1,9,0,3284,NaN,38YOM FELL WHILE PLAYING TENNIS ON HARD SURFAC...
137840,140931438,2014-03-16,40,14.3089,V,41,Male,White,NaN,57,NaN,36,1,5,0,3284,1871,41 YOM C/O FELL INTO A FENCE WHILE PLAYING TEN...
139905,140812624,2014-07-09,93,15.6716,V,23,Female,White,NaN,57,NaN,83,1,9,0,3284,NaN,23 YOF INVERTED ANKLE PLAYING TENNIS. DX: R F...
179873,141144218,2014-11-14,63,112.1671,M,68,Male,None listed,NaN,57,NaN,30,1,9,0,3284,NaN,68YOM PLAYING TENNIS AND FELL ONTO SHOULDER FR...
182198,140125957,2014-01-11,73,80.0213,S,57,Female,None listed,NaN,57,NaN,33,1,9,0,3284,NaN,57YOF FELL WHILE PLAYING TENNIS FRACTURED LOWE...
188036,140718139,2014-06-25,64,14.3089,V,43,Female,White,NaN,57,NaN,34,1,0,0,3284,NaN,43YOF WITH WRIST FRACTURE AFTER FALLING WHILE ...
194085,140447294,2014-04-20,61,14.3089,V,18,Male,White,NaN,57,NaN,32,1,9,0,3284,NaN,18 YOM FELL WHEN JUMPING OVER A TENNIS COURT N...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253041,140626795,2014-06-09,61,14.3089,V,76,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,76YOF WITH FRACTURED WRIST FROM FALL DURING TE...
254274,140218763,2014-02-03,2,14.3089,V,64,Female,None listed,NaN,57,NaN,36,1,9,0,3284,NaN,64YOF PLAYING TENNIS AND FELL FRACTURED LOWER ...
257663,140131442,2014-01-13,2,14.3089,V,75,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,75YOF FELL WHILE PLAYING TENNIS AND FRACTURED ...
268852,140964555,2014-09-25,20,5.7174,C,13,Male,White,NaN,57,NaN,30,1,8,0,3284,NaN,13YOM JUMPED OVER TENNIS COURT NET AND FELL; ...
276468,140226457,2014-02-06,73,80.0213,S,66,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,66YOF FELL WHILE PLAYING TENNIS AND SUSTAINED ...
281432,140705933,2014-06-16,38,14.3089,V,39,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,39 YR OLD MALE SLIPPED AND FELL PLAYING TENNIS...
283817,150122818,2014-12-28,93,15.6716,V,35,Male,Other / Mixed Race,HISPANIC,57,NaN,76,1,9,0,3284,NaN,35 YOM FELL WHILE PLAYING TENNIS. DX: L ZYGOM...
298222,140857821,2014-08-24,61,15.6716,V,8,Male,Other / Mixed Race,HISPANIC,57,NaN,33,1,9,0,3284,1267,8 YOM TRIPPED OVER SOCCER BALL ON TENNIS COURT...
298853,150215415,2014-05-27,89,74.3851,L,86,Male,White,NaN,57,NaN,79,4,9,0,3284,NaN,86 YO M PT PLAYING TENNIS COLLIED WITH ANOTHER...
303914,150107271,2014-12-26,89,74.3851,L,58,Female,White,NaN,57,NaN,34,1,1,0,3284,NaN,58 YO F PT WAS PICKING UP HER DOG AND TRIPPED ...
309380,141109071,2014-10-26,5,37.4149,L,40,Female,White,NaN,57,NaN,36,1,0,0,3284,NaN,40 YOF STEPPED ON A TENNIS BALL AND ROLLED ANK...
312180,140736203,2014-07-13,61,15.6716,V,8,Female,White,NaN,57,NaN,34,1,9,0,3284,NaN,8 YOF TRIPPED AND FELL WHILE PLAYING TENNIS FR...
327397,140449101,2014-04-12,38,14.3089,V,78,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,78YR OLD MALE PLAYING TENNIS AND FELL ONTO ARM...
327648,141130727,2014-11-12,73,82.3076,S,73,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,73YOM FELL WHILE PLAYING TENNIS AND FRACTURED ...
330294,140447302,2014-04-20,61,14.3089,V,49,Male,White,NaN,57,NaN,76,1,1,0,3284,NaN,49 YOM ACCIDENTALLY STRUCK IN THE FACE WITH A ...
332195,140551387,2014-05-19,1,80.0213,S,59,Female,White,NaN,57,NaN,34,1,0,0,3284,NaN,59YOF WAS PLAYING TENNIS FELL ON OUTSTRETCHED ...
335573,140957654,2014-08-23,54,50.1602,M,63,Female,White,NaN,57,NaN,33,1,9,0,3284,NaN,63YOF FELL ONTO LT ARM PLAYING TENNIS DX: DI...
340432,140835723,2014-08-12,8,5.7174,C,14,Male,White,NaN,57,NaN,33,1,9,0,3284,NaN,14YOM W/ FOREARM DEFORMITY S/P TRIED TO JUMP O...
341629,141220455,2014-11-28,73,82.3076,S,64,Male,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,64YOM FELL WHILE PLAYING TENNIS SUSTAINED A WR...
342920,140515826,2014-04-18,93,14.3089,V,19,Male,Other / Mixed Race,HISPANIC,57,NaN,76,1,9,0,3284,NaN,19 YOM TRIPPED AND FELL ONTO COURT WHILE PLAYI...
343019,140604296,2014-05-14,38,14.3089,V,10,Female,None listed,NaN,57,NaN,34,1,9,0,3284,NaN,10 YR OLD FEMALE PLAYING TENNIS AND FELL ONTO ...
345873,140818624,2014-07-25,38,15.6716,V,16,Female,None listed,NaN,57,NaN,37,1,9,0,3284,NaN,16 YR OLD FEMALE STEPPED ON TENNIS BALL AND RO...
345889,140801146,2014-07-17,21,15.6716,V,54,Female,None listed,NaN,57,NaN,31,1,0,0,3284,NaN,54YF WITH LT LOWER RIB PAIN AFTER ROLLING BODY...
346277,140813088,2014-07-20,38,15.6716,V,52,Female,None listed,NaN,57,NaN,32,1,9,0,3284,NaN,52 YR OLD FEMALE PLAYING TENNIS WENT TO HIT BA...
348277,140803431,2014-07-05,54,50.1602,M,14,Male,White,NaN,57,NaN,76,1,9,0,3284,NaN,"14YOM PLAYING TENNIS @ CAMP, PARTNER THREW RAC..."
351654,141033939,2014-09-21,38,15.6716,V,48,Male,None listed,NaN,57,NaN,92,1,9,0,3284,NaN,48 YR OLD MALE PLAYING TENNIS ON WET GRASS AND...
356377,140964771,2014-09-01,38,15.6716,V,57,Female,None listed,NaN,57,NaN,83,1,9,0,3284,NaN,57 YR OLD FEMALE INVERTED FOOT PLAYING TENNIS ...
359720,141102820,2014-10-29,21,15.6716,V,22,Female,None listed,NaN,57,NaN,76,1,9,0,3284,NaN,22YF PLAYING TENNIS&ACC STRUCK SELF ON THE FAC...
361428,140713510,2014-06-22,38,14.3089,V,59,Male,None listed,NaN,57,NaN,30,1,9,0,3284,NaN,59 YR OLD MALE PLAYING TENNIS AND LOST BALANCE...
365954,140821282,2014-08-04,21,15.6716,V,66,Female,None listed,NaN,57,NaN,79,4,9,0,3284,NaN,"66YF WAS PLAYING TENNIS, HER KNEE WAS BOTHERIN..."

In [11]:
# this looks like it will subset sports out nicely
sports= fractures.loc[fractures['location']==9]

In [12]:
# let's look at how many rows there are
len(sports)

9623

In [13]:
# print out the unique codes within our sporst subset. Now to find what each code corresponds to.
print(pd.unique(sports['prod1']))
print(pd.unique(sports['prod2']))

[5041 3251 1272 3273 5034 3283 5040 5033 3255 5016 1205 1293 1211 5031 1258
 1279 1807 3299 1333 3216 3217 3257 1213 1267 3236 1244 1871 5036 1242 3286
 1239 3278 1328 3254 1266 3274 1284 3246 3265 1895 3272 1817 5030 1200 3287
 1290 1884 1261 1270 1842 1206 5017  852 1215 3223 1207 3234 1233 3297 3295
 4077 1299 5029 3235 1615 3259 1294 3284 1816 1212 4074 1217 1329 3277  465
 1264 4016  536 1829 1243 1278 3288 1715  374 3200 3219 1276 1295 3256 1235
  611 3250 1893  687 3279 1313 4078  466 1843 4057  832 3260  464 1426 3293
 1643 5011 3202 1395  827  612 1301 1310 3276  685 1645 1138 1141 1812 3294
 3249 1865 1457 1127 3261 5032 1381 1282  661 3215 1398 1506 1234 1741 1392
 1273  566 5020 5044 1277  394  131 1612 1260 4056 3262  478  617 3245]
[   nan  4076.  1267.  4074.  1414.  1865.   676.  1807.  1233.  3257.
   687.  1884.  1205.  1299.  1871.  1266.  5031.  1272.  3254.  3277.
  3251.  1842.  3219.  1645.  1615.   374.  3217.   886.  5030.  1293.
   550.  1294.  1890.  4057.   852.  1843.  1829.  3223.  1616.  3299.
  1212.  3279.  1141.  1023.   393.   648.  5029.  1213.  3273.  5011.
  1211.  3274.  1857.  3216.  5040.  1242.  1466.  1143.  1284.  3235.
  1647.  5041.   557.   827.  1258.  1403.  1200.  3297.  3272.  1244.
  3265.  1329.  1206.  1333.  5033.   413.  5016.   611.  1279.   536.
  1817.  1278.  1270.  3200.   572.  3278.  3286.   885.  3259.]

So here are the unique codes for what caused the fractures. I am going to have to create a dictionary to reference all of these codes, then scan the file for where these codes occur and replace them with the human readable form.

In [14]:
sport_dict = {
    5041: "Baseball",
    3251: "Built-in swimming pools",
    1272: "Acrobatics/Gymnastics",
    3273: "play sand (for sandboxes)",
    3283: "snow skiing",
    5034: "Softball",
    3283: "Snow skiiing",
    5040: "Bicycle pumps",
    5033: "Mountain/All-terrain Biking",
    3255: "Ice Skating",
    5016: "Bouncy Balls",
    1205: "Basketball",
    1293: "Bounce house",
    1211: "Football",
    5031: "Snowboarding",
    1258: "Mountain Climbing",
    1279: "Ice Hockey",
    1807: "Patios/Flooring",
    3299: "Stretching Exercise",
    1333: "Skateboarding",
    3216: "Rolling Skating",
    3217: "Skating (not specified)",
    3257: "Jujitsu",
    1213: "Golf Carts",
    1267: "Soccer",
    3236: "Ball Sports (not specified)",
    1244: "Climbing Apparatus, playground",
    1871: "Fence/Fence Post",
    5036: "Two-wheeled, powered, off-road vehicles",
    1242: "Slides",
    3286: "Four-wheeled, all-terrain vehicles",
    1239: "Bridles (Horseback Riding)",
    3278: "Dancing",
    1328: "Children's Wagon",
    3254: "Cheerleading",
    1266: "Volleyball",
    3274: "Swimsuit",
    1284: "Swimming pools (not specified)",
    3246: "Swings",
    3265: "Weight Lifting",
    1895: "Deer/Tree Stands",
    3272: "Hockey (not specified)",
    1817: "Loading Docks",
    5030: "Pole Vault",
    1200: "Rodeo",
    3287: "All-terrain Vehicles (number of wheels not specified)",
    1290 : "snowmobiles",
     1884 : "ceilings and walls",
     1261 : "windsurfing",
     1270 : "wrestling", 
     1842 : "stairs",
     1206 : "bowling",
     5017 : "flying discs or boomerangs",
     852 : "rope or string",
     1215 : "lacrosse", 
     3223 : "fishing",
     1207 : "punching bags",
     3234 : "rugby",
     1233 : "trampolines", 
     3297 : "in-line skating", 
     3295 : "water slides",
     4077 : "straight ladders", 
     1299 : "snow tubing",
     5029 : "tent or tent stakes",
     3235 : "other ball sports", 
     1615 : "cleats", 
     3259 : "go-carts",
     1294 : "bleachers", 
     3284 : "tennis",
     1816 : "scaffolding",
     1212 : "golf",
     4074 : "lawn chair",
     1217 : "sleds",
     1329 : "standup scooter (unpowered)", 
     3277 : "treadmills", 
     465 : "other cookware",
     1264 : "knee boarding",
     4016 : "beach chairs",
     536 : "photographic equipment",
     1829 : "banisters", 
     1243 : "seesaw",
     1278 : "diving board",
     3288 : "beach buggles",
     1715 : "pet cages",
     374 : "gymnastic bars",
     3200 : "water tubing", 
     3219 : "ball pits",
     1276 : "tether ball", 
     1295 : "field hockey",
     3256 : "paddle ball", 
     1235 : "archery",
     611 : "bathtubs or showers", 
     3250 : "portable beverage cooler", 
     1893 : "bathroom stall door",  
     687 : "benches",
     3279 : "floaties",
     1313 : "fireworks",
     4078 : "chain ladders",  
     466 : "cookware not specified", 
     1843 : "ramps or landings",
     4057 : "altar",
     832 : "circular power saws",
     3260 : "fencing", 
     464 : "knives", 
     1426 : "axes", 
     3293 : "water slides",
     1643 : "keys", 
     5011 : "bookbags", 
     3202 : "pedal-powered adult vehicles (3+ wheels)", 
     1395 : "battery-operated toys",  
     827 : "hammers", 
     612 : "bathroom rugs", 
     1301 : "children's tricycle", 
     1310 : "pogo sticks", 
     3276 : "water polo",
     685 : "electric extension cord", 
     1645 : "blouses", 
     1138 : "beer kegs", 
     1141 : "non-specified containers", 
     1812 : "downspouts", 
     3294 : "inflatable water slides",
     3249 : "grills (not specified)", 
     1865 : "poles", 
     1457 : "log splitters", 
     1127 : "non-glass bottles", 
     3261 : "shuffleboard", 
     5032 : "roller hockey",
     1381 : "air hockey", 
     1282 : "handball", 
     661 : "bed rails", 
     3215 : "mopeds", 
     1398 : "wheeled riding toys (unpowered)", 
     1506 : "baby gates", 
     1234 : "playhouses", 
     1741 : "tarpaulins", 
     1392 : "toy sports equiptment",
     1273 : "bobsleds",  
     566 : "musical instrument (non-electrical)", 
     5020 : "pretent electronics/household devices", 
     5044 : "utility vehicles", 
     1277 : "swimming pool slides",  
     394 : "patio heaters or firepits",  
     131 : "butane gas tanks", 
     1612 : "facial saunas", 
     1260 : "billiards", 
     4056 : "brackets", 
     3262 : "water heater",  
     478 : "drinking glasses",  
     617 : "curtains", 
     3245 : "floor hockey"
}

In [15]:
len(sports.loc[sports['prod1']==5040])

150

In [16]:
sports_decrypt = sports.replace({"prod1": sport_dict})
print(sports_decrypt)

        CPSC Case #  trmt_date  psu   weight stratum  age     sex  \
89        150226549 2014-07-14   63  99.7040       M   18    Male
290       150127662 2014-12-24   90   5.7174       C   16    Male
314       140710588 2014-06-28   90   5.7174       C   11  Female
329       140924587 2014-08-30   90   5.7174       C    2    Male
345       140706267 2014-06-22   90   5.7174       C   13  Female
369       140330347 2014-03-09   99  80.0213       S   10    Male
382       140216083 2014-02-05   99  80.0213       S   17    Male
400       141240243 2014-12-14   99  82.3076       S   40    Male
471       140302840 2014-01-01   24  81.5760       M   29  Female
570       140922239 2014-09-07   64  15.6716       V   11    Male
620       140855367 2014-08-23   64  15.6716       V   45  Female
703       140553109 2014-05-24   95  14.3089       V    8  Female
738       140309312 2014-02-28   62  80.0213       S   17    Male
764       140723202 2014-07-02   62  87.2960       S   12  Female
774       141057004 2014-10-16   62  82.3076       S   18    Male
842       140230995 2014-02-01   59  80.0213       S    9  Female
850       140341852 2014-02-22   59  80.0213       S   48  Female
860       140312386 2014-02-20   59  80.0213       S   12  Female
864       140322565 2014-03-05   59  80.0213       S   30    Male
868       140244631 2014-02-18   59  80.0213       S   12    Male
881       140441065 2014-04-18   59  80.0213       S   19  Female
889       140125174 2014-01-05   59  80.0213       S   53  Female
890       140657802 2014-06-17   59  82.3076       S   16    Male
901       140117364 2014-01-03   59  80.0213       S   43  Female
903       140125169 2014-01-05   59  80.0213       S   52    Male
904       140231001 2014-02-02   59  80.0213       S   14    Male
908       140657807 2014-06-17   59  82.3076       S   67    Male
910       140213942 2014-01-25   59  80.0213       S   10    Male
911       140730640 2014-06-24   59  82.3076       S   10  Female
927       140231015 2014-02-05   59  80.0213       S   54    Male
...             ...        ...  ...      ...     ...  ...     ...
366620    150105783 2014-12-27   21  15.6716       V   12  Female
366658    140756125 2014-07-08   38  15.6716       V    8    Male
366697    140244689 2014-02-09   38  14.3089       V   24    Male
366715    140510468 2014-05-03   21  14.3089       V   14  Female
366722    140244721 2014-02-07   38  14.3089       V   19    Male
366724    140443715 2014-04-19   21  14.3089       V   21  Female
366779    140432833 2014-04-07   38  14.3089       V   17    Male
366792    140451852 2014-04-13   38  14.3089       V   33    Male
366794    140512806 2014-05-04   21  14.3089       V   38    Male
366795    140821464 2014-08-03   21  15.6716       V   12    Male
366824    140512722 2014-05-04   21  14.3089       V   13    Male
366848    140926106 2014-08-27   38  15.6716       V    7    Male
366858    141125087 2014-11-09   21  15.6716       V   25    Male
366969    141012557 2014-09-30   21  15.6716       V   13  Female
366979    140534616 2014-05-15   21  14.3089       V    9  Female
367011    140756177 2014-07-14   38  15.6716       V   15    Male
367024    140510375 2014-05-02   21  14.3089       V   15    Male
367076    140801330 2014-07-18   21  15.6716       V    8    Male
367084    141207421 2014-11-28   21  15.6716       V    8  Female
367128    140835039 2014-08-14   21  15.6716       V    6    Male
367157    141233465 2014-12-09   38  15.6716       V   25    Male
367198    141227562 2014-12-04   38  15.6716       V   43    Male
367204    140905724 2014-08-24   21  15.6716       V   45    Male
367207    140244669 2014-02-10   38  14.3089       V    7    Male
367309    150105853 2014-12-28   21  15.6716       V   13  Female
367371    140523620 2014-05-09   21  14.3089       V  215    Male
367379    140302499 2014-02-26   21  14.3089       V   29    Male
367397    140712868 2014-07-03   21  15.6716       V   24  Female
367441    140422193 2014-03-28   38  14.3089       V   47    Male
367491    140526555 2014-05-12   21  14.3089       V    8  Female

                          race race_other  diag diag_other  body_part  \
89                 None listed        NaN    57        NaN         33
290                      White        NaN    57        NaN         93
314         Other / Mixed Race   HISPANIC    57        NaN         33
329                      White        NaN    57        NaN         32
345                      White        NaN    57        NaN         36
369                      White        NaN    57        NaN         30
382                      White        NaN    57        NaN         75
400                None listed        NaN    57        NaN         37
471         Other / Mixed Race   HISPANIC    57        NaN         33
570                      White        NaN    57        NaN         76
620                      White        NaN    57        NaN         76
703                      White        NaN    57        NaN         32
738                      White        NaN    57        NaN         33
764                      White        NaN    57        NaN         30
774     Black/African American        NaN    57        NaN         83
842                      White        NaN    57        NaN         33
850                      White        NaN    57        NaN         36
860                      White        NaN    57        NaN         34
864                      White        NaN    57        NaN         30
868                      White        NaN    57        NaN         36
881                      White        NaN    57        NaN         83
889                      White        NaN    57        NaN         79
890                      White        NaN    57        NaN         75
901                      White        NaN    57        NaN         34
903                      White        NaN    57        NaN         92
904                      White        NaN    57        NaN         37
908                      White        NaN    57        NaN         93
910                      White        NaN    57        NaN         34
911                      White        NaN    57        NaN         34
927                      White        NaN    57        NaN         79
...                        ...        ...   ...        ...        ...
366620             None listed        NaN    57        NaN         33
366658             None listed        NaN    57        NaN         33
366697             None listed        NaN    57        NaN         92
366715             None listed        NaN    57        NaN         33
366722             None listed        NaN    57        NaN         76
366724             None listed        NaN    57        NaN         83
366779             None listed        NaN    57        NaN         92
366792             None listed        NaN    57        NaN         80
366794             None listed        NaN    57        NaN         37
366795             None listed        NaN    57        NaN         82
366824             None listed        NaN    57        NaN         30
366848             None listed        NaN    57        NaN         36
366858             None listed        NaN    57        NaN         30
366969             None listed        NaN    57        NaN         37
366979             None listed        NaN    57        NaN         36
367011             None listed        NaN    57        NaN         79
367024             None listed        NaN    57        NaN         36
367076             None listed        NaN    57        NaN         34
367084             None listed        NaN    57        NaN         36
367128             None listed        NaN    57        NaN         33
367157             None listed        NaN    57        NaN         76
367198             None listed        NaN    57        NaN         36
367204             None listed        NaN    57        NaN         82
367207             None listed        NaN    57        NaN         36
367309             None listed        NaN    57        NaN         36
367371             None listed        NaN    57        NaN         36
367379             None listed        NaN    57        NaN         81
367397             None listed        NaN    57        NaN         32
367441             None listed        NaN    57        NaN         76
367491             None listed        NaN    57        NaN         33

        disposition  location  fmv  \
89                1         9    0
290               1         9    0
314               1         9    0
329               1         9    0
345               4         9    0
369               1         9    0
382               2         9    0
400               4         9    0
471               1         9    0
570               1         9    0
620               1         9    0
703               1         9    0
738               1         9    0
764               1         9    0
774               1         9    0
842               1         9    0
850               1         9    0
860               1         9    0
864               1         9    0
868               1         9    0
881               1         9    0
889               1         9    0
890               4         9    0
901               1         9    0
903               1         9    0
904               1         9    0
908               1         9    0
910               1         9    0
911               1         9    0
927               4         9    0
...             ...       ...  ...
366620            1         9    0
366658            1         9    0
366697            1         9    0
366715            1         9    0
366722            1         9    0
366724            1         9    0
366779            1         9    0
366792            1         9    0
366794            1         9    0
366795            1         9    0
366824            1         9    0
366848            4         9    0
366858            1         9    0
366969            1         9    0
366979            1         9    0
367011            4         9    0
367024            4         9    0
367076            1         9    0
367084            1         9    0
367128            1         9    0
367157            1         9    0
367198            4         9    0
367204            1         9    0
367207            1         9    0
367309            1         9    0
367371            1         9    0
367379            4         9    0
367397            1         9    0
367441            1         9    0
367491            1         9    0

                                                    prod1  prod2  \
89                                               Baseball    NaN
290                               Built-in swimming pools    NaN
314                                 Acrobatics/Gymnastics    NaN
329                             play sand (for sandboxes)    NaN
345                                              Softball    NaN
369                                          Snow skiiing    NaN
382                                         Bicycle pumps    NaN
400                           Mountain/All-terrain Biking    NaN
471                                           Ice Skating    NaN
570                                              Baseball    NaN
620                                          Bouncy Balls    NaN
703                                 Acrobatics/Gymnastics    NaN
738                                            Basketball    NaN
764                                          Bounce house    NaN
774                                              Football    NaN
842                                            Basketball    NaN
850                                          Snow skiiing    NaN
860                                          Snowboarding    NaN
864                                          Snow skiiing    NaN
868                                          Snow skiiing    NaN
881                                     Mountain Climbing    NaN
889                                          Snow skiiing    NaN
890                                            Basketball    NaN
901                                            Ice Hockey    NaN
903                                       Patios/Flooring    NaN
904                                          Snowboarding    NaN
908                                   Stretching Exercise    NaN
910                                          Snow skiiing    NaN
911                                         Skateboarding    NaN
927                                          Snow skiiing    NaN
...                                                   ...    ...
366620                                         Basketball    NaN
366658                     Climbing Apparatus, playground    NaN
366697                                         Basketball    NaN
366715                              Acrobatics/Gymnastics    NaN
366722                                         Basketball    NaN
366724                                              rugby    NaN
366779                                           lacrosse    NaN
366792                                        trampolines    NaN
366794                                           Softball   1267
366795                                           Football    NaN
366824                                           Baseball    NaN
366848                                              Rodeo    NaN
366858                                             Soccer    NaN
366969                              Acrobatics/Gymnastics    NaN
366979                                           Softball    NaN
367011                                         Basketball    NaN
367024  All-terrain Vehicles (number of wheels not spe...    NaN
367076                                             Soccer    NaN
367084                                        Ice Skating    NaN
367128                     Climbing Apparatus, playground    NaN
367157                                         Volleyball    NaN
367198                                             Soccer    NaN
367204                                    Patios/Flooring   3265
367207                                        Ice Skating    NaN
367309                                         Ice Hockey    NaN
367371                                             Slides    NaN
367379                                       Snow skiiing    NaN
367397                                             Soccer    NaN
367441                             Hockey (not specified)    NaN
367491                                          ball pits    NaN

                                                narrative
89      18YOM PLAYING BASEBALL AND FELL FRACTURED LOWE...
290     16YOM- YESTERDAY PT WAS IN SWIMMING POOL PLAYI...
314     11 YOF FELL OFF THE BALANCE BEAM LAST NIGHT, D...
329     2 YOM FELL OFF A STEP OF PLAYGROUND EQUIPMENT,...
345     13 YOF WAS PLAYING IN A SOFTBALL GAME, ON A BA...
369                    10YOM FELL SKIING/ LT CLAVICLE FX
382     17YOM RIDING BIKE AT PARK, FELL AND HIT HEAD O...
400     40YOM WAS MOUNTAIN BKING WHEN HE FELL OFF CLIF...
471     29 YOF, FELL ICE SKATING, INJURY WRIST   DX: F...
570     11YOM WITH NOSE FRACTURE AFTER ACCIDENTALLY GE...
620     45YOF PT COMPLAINING OF HITTING SELF IN NOSE W...
703     RT ELBOW FX.8YOF WAS DOING A FLIP IN GYMNASTIC...
738     17 YO WM FELL WHILE PLAYING BASKETBALL HAS HAN...
764     12 YWF RIDING MECHANICAL BULL AT CHURCH CAMP H...
774     18 YO BM PLAYING IN FOOTBALL GAMES HAS INJURY ...
842     9 YO FEMALE FELL WHILE PLAYING BASKETBALL INJ....
850     48 YO FEMALE FELL WHILE SKIING INJ LEG. DX LEG...
860     12 YO FEMALE FELL WHILE SNOWBOARDING , DX FX W...
864     30 YO MALE FELL WHILE SKIING INJ SHOULDER , DX...
868     12 YO MALE FELL INJURING RT LOWER LEG WHILE SK...
881     19 YO FEMALE FELL WHILE ROCK CLIMBING. DX FX F...
889     53 YO HELMETED FEMALE FELL WHILE SKIING HURTIN...
890     16 YO MALE FELL WHILE PLAYING BASKETBALL, DX S...
901     43 YO FEMALE FELL WHILE PLAYING ICE HOCKEY , D...
903     52 YO MALE FELL TO FLOOR INJURING FINGER , DX ...
904     14 YO MALE FELL WHILE SNOWBOARDING , DX ANKLE FX
908     67 YO MALE FELL WHILE HIKING INJ TOE, DX TOE F...
910     10 YO MALE FELL SKIING HURTING WRIST ,DX WRIST...
911     10 YO FEMALE FELL OFF SKATEBOARD INJ WRIST , D...
927     54 YO MALE FELL WHILE SKIING INJ HIP , DX RT H...
...                                                   ...
366620  12YF ARM PAN P FALLING WHILE PLAYING BASKETBAL...
366658  8 YR OLD MALE FELL OFF MONKEY BARS AT CAMP ONT...
366697  24 YR OLD MALE JAMMED THUMB IN A BASKETBAL GAM...
366715  14YF FOOSA OFF BARS DURING GYMNASTICS, C/O ARM...
366722  19 YR OLD MALE PLAYING BASKETBALL AND COLLIDED...
366724      21YF ACC ROLLED FOOT WHILE PLAYING RUGBY >>FX
366779  17 YR OLD MALEHIT BY LACROSSE STICK TO THUMB A...
366792  33 YR OLD MALE JUMPING ON TRAMPOLINE AND DID B...
366794  38YM PLAYING SOCCER VS SOFTBALL&LANDED ONTO IN...
366795  12YM C/O HAND PAIN AFTER GOT TACKLED WHILE PLA...
366824  13YM TRYING TO CATHC BASEBALL&FOOSA C/O SHOULD...
366848  7 YR OLD MALE FELL OFF INDOOR CLIMBING WALK AN...
366858  25YM PLAYING SOCCER, HAD SIDE TACKLE&FELL ONTO...
366969  13YF ANKLE PAIN/SWELLING AFTER INVERSION INJ. ...
366979  9YF ACC ROLLED ANKLE WHILE PLAYING SOFTBALL >>...
367011  15 YR OLD MALE PLAYING BASKETBALL AND WENT FOR...
367024  15YM RIDING AN ATV, FOOT SLIPPED OFF THE PEG&G...
367076  8YM ACC GOT STRUCK TO THE WRIST WITH KICKED SO...
367084  8YF S'D&F WHILE ICE SKATING C/O LEG PAIN NOT A...
367128  6YM FOOSA FROM ?HEIGHT MONEKY BARS, NO HEAD TR...
367157  25YR OLD MALE PLAYNG VOLLEYBALL AND COLLIDED W...
367198  43 YR OLD MALE PLAYING SOCCER WITH SHIN TO SHI...
367204  45YM WITH HAND PAIN S/P EVASIVE ABOUT MECH OF ...
367207  7 YR OLD MALE FELL ICE SKATING ONTO SHIN AND F...
367309  13YF PLAYING ICE HOCKEY&WAS PUSHED INTO ANOTHE...
367371       15MM FELL FROM A SLIDE DOWN ONTO LT LEG >>FX
367379  29YM WITH THIGH SWELLING/DEF AFTER SUFFERED A ...
367397  24YF FOOSA WHILE PLAYING SOCCER C/O ELBOW PAIN...
367441  47 YR OLD MALE PLAYING HOCKEY AND GOT ELBOWED ...
367491  8YF FELL ON ***&GOT ARM CAUGHT IN THE LADDER >...

[9623 rows x 18 columns]

In [21]:
# sports.to_csv('sports.csv')

Okay, so this was my initial exploration of just one file. But I have 6 of these files in total. I need to write a loop that will read in all of the files and concatenate them together into one big dataframe. I will then use this dataframe to perform my analysis as it will contain all of the data available to me.

In [47]:
allFiles = glob.glob('Data/NEISS/NEISS20*.xlsx') # gives me a ist of all the files that I am using since I use a similar naming convention on all of them
frame = pd.DataFrame() # create an empty dataframe
list_ = [] # and an empty list
for file_ in allFiles: # write a for loop that will read in all of the files and store all of the independent dataframes into a list
    df = pd.read_excel(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_) #concatenate all of the dataframes together into one dataframe

Damn! Now that is a huge dataframe! 2 MILLION ROWS!

In [60]:
len(frame)

2332957

In [52]:
# how many rows have just fracture data

# first diagnosis column
print(len(frame.loc[frame['diag']== 57]))

# second diagnosis column
print(len(frame.loc[frame['diag_other']==57]))

346190
0

Let's go ahead and create a dataframe of only fractures in this data set and we will finish this notebook out by writing that to a csv file

In [53]:
fracture = frame.loc[frame['diag']==57]

In [55]:
len(fracture)

346190

In [56]:
# this looks like it will subset sports out nicely
sport= fracture.loc[fracture['location']==9]

In [58]:
fracture.to_csv('Data/NEISS/all_fracture.csv')